registry=https://repo.fin.navercorp.com/repository/npm-public/
@financial:registry=https://repo.fin.navercorp.com/repository/npm-public/
@pie:registry=https://repo.fin.navercorp.com/repository/npm-public/
always-auth=true
//repo.fin.navercorp.com/repository/npm-hosted/:_auth="ZmluYW5jaWFsOnZrZGxzb3N0dWYhQCM="
//repo.fin.navercorp.com/repository/npm-public/:_auth="ZmluYW5jaWFsOnZrZGxzb3N0dWYhQCM="